<div class="row">
      <div class="large-12 columns">
		<form>
		  <fieldset>
		    <legend>Front</legend>
		    <center><h2><%= @flashcard.front %></h2></center>
		  </fieldset>
		  <fieldset>
		    <legend>Back</legend>
		    <center>
		    	<%= link_to_function "Reveal Answer", "$('#flashcard-button').hide();$('#flashcard-back').fadeIn();$('#buttons').fadeIn();", class: 'button', id: 'flashcard-button' %>
		    </center>
		    <div id="flashcard-back">
		    	<center><h3><%= @flashcard.back %></h3></center>
		    </div>
		    </label>
		  </fieldset>
		</form>
		<ul class="button-group even-4 round" id="buttons">
			<%= form_tag("/decks/#{params[:deck_id]}/review/#{@flashcard.id}", method: :patch) do %>
				<li><%= submit_tag "Again", name: "response", class: "button secondary" %></li>
				<li><%= submit_tag "Hard", name: "response", class: "button secondary" %></li>
				<li><%= submit_tag "Good", name: "response", class: "button secondary" %></li>
				<li><%= submit_tag "Easy", name: "response", class: "button secondary" %></li>
			<% end %>
		</ul>
	</div>
</div>