<div class="row">
      <div class="large-12 columns">
		<form>
		  <fieldset>
		    <legend>Front</legend>
		    <center><h2><%= @flashcard.front %></h2></center>
		  </fieldset>
		  <fieldset>
		    <legend>Back</legend>
		    <center>
		    	<%= link_to_function "Reveal Answer", "$('#flashcard-button').hide();$('#flashcard-back').fadeIn();$('#buttons').fadeIn();", class: 'button', id: 'flashcard-button' %>
		    </center>
		    <div id="flashcard-back">
		    	<center><h3><%= @flashcard.back %></h3></center>
		    </div>
		    </label>
		  </fieldset>
		</form>
		<ul class="button-group even-4 round" id="buttons">
		  <li><%= link_to 'Again', deck_review_index_path(params[:deck_id]), method: :post, class: "button secondary" %></li>
		  <li><%= link_to 'Hard', deck_review_index_path(params[:deck_id]), method: :post, class: "button secondary" %></li>
		  <li><%= link_to 'Good', deck_review_index_path(params[:deck_id]), method: :post, class: "button secondary" %></li>
		  <li><%= link_to 'Easy', deck_review_index_path(params[:deck_id]), method: :post, class: "button secondary" %></li>
		</ul>
	</div>
</div>