<h1>Log In</h1>

<%= form_tag sessions_path do %>
	<div class="field">
		<%= label_tag :email %><br />
		<%= email_field_tag :email, params[:email], placeholder: 'user@domain.com', required: true %>
	</div>
	<div class="field">
		<%= label_tag :password %><br />
		<%= password_field_tag :password %>
	</div>
	<p><%= link_to "forgotten password?", new_password_reset_path %></p>
	<div class="field">
		<%= label_tag :remember_me %>
		<%= check_box_tag :remember_me, 1, params[:remember_me] %>
	</div>
	<div class="actions"><%= submit_tag "Log In" %></div>
<% end %>