<%= form_for @flashcard do |f| %>
	<div class="row">
		<div class="small-12 columns">
			<%= f.label :front %>
			<%= f.text_area :front %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<%= f.label :back %>
			<%= f.text_area :back %>
		</div>
	</div>
	<div class="row">
		<p class="small-12 columns"><%= f.submit class: "button" %></p>
	</div>
<% end %>