<div class="row">
    <div class="large-12 columns">
		<h3>Flashcard Manager</h3>
		<%= render 'form' %>
		<table width="100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>Deck</th>
					<th>Front</th>
					<th>Back</th>
					<th>Tools</th>
				</tr>
			</thead>
			<% for flashcard in @flashcards %>
			<tr id="flashcard_<%= flashcard.id %>">
				<td><%= flashcard.id %></td>
				<td><%= flashcard.deck.name %></td>
				<td><%= flashcard.front %></td>
				<td><%= flashcard.back %></td>
				<td>
					<%= link_to 'Edit', edit_flashcard_path(flashcard), class: "button success tiny" %> 
					<%= link_to 'Delete', flashcard, class: "button tiny alert", method: :delete, remote: true %>		
				</td>
			</tr>
			<% end %>
		</table>
	</div>
</div>