<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div class="error_messages">
			<h2>Form is invalid</h2>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :email %>
		<%= f.email_field :email, placeholder: 'user@domain.com', required: true %>
	</div>
	<div class="field">
		<%= f.label :password %>
		<%= f.password_field :password, required: true %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation, required: true %>
	</div>
	<div class="actions"><%= f.submit %></div>
<% end %>