<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <!-- Content -->

      <% if current_user %>

        <div class="large-12 columns">
          <div class="row">
              <div class="large-12 columns">
                <div data-alert class="alert-box secondary">
                  You are logged in as <%= current_user.email %>
                </div>
              </div>
            </div>
        </div>

        <div class="large-12 columns">
          <div class="row">
              <div class="large-12 columns">
                <ul class="vcard">
                  <li>Total flashcards: <%= current_user.flashcards.count %></li>
                  <li>Total reviews <%= current_user.review_logs.count %></li>
                  <li>New cards: <%= current_user.flashcards.where("interval < 1").count %></li>
                </ul>
              </div>
            </div>
          </div>

        <div class="large-12 columns">
          <table width="100%">
            <thead>
              <tr>
                <th>Name</th>
                <th>Card count</th>
                <th>Action</th>
              </tr>
            </thead>
            <% if @decks.count < 1 %>
            <tr><td colspan="3">No decks created.</td></tr>
            <% end %>
            <% for deck in @decks %>
            <tr id="deck_<%= deck.id %>">
              <td><%= deck.name %></td>
              <td><%= deck.flashcards.count %></td>
              <td><%= link_to 'Review Deck', deck_review_index_path(deck), class: "button tiny secondary" %> <%= link_to 'Manage Flashcards', deck_flashcards_path(deck), class: "button tiny secondary" %></td>
            </tr>
            <% end %>
          </table>
        </div>

      <% else %>

        <div class="large-12 medium-12 columns">
          <ul class="topslider" data-orbit>
            <li>
              <img src="../assets/virtual-flashcard-system.jpg" alt="slide 1" />
              <div class="orbit-caption">
                Virtual flashcard system for language learning.
              </div>
            </li>
            <li class="active">
              <img src="../assets/spacing.jpg" alt="slide 2" />
              <div class="orbit-caption">
                Reduce the amount of time spent revising words that you already know.
              </div>
            </li>
            <li>
              <img src="../assets/spacing.jpg" alt="slide 3" />
              <div class="orbit-caption">
                Learn more in a shorter amount of time.
              </div>
            </li>
          </ul>
        </div>

        <div class="large-8 columns">
            <div class="row">
              <div class="large-11 small-11 columns">
                <h4>About myFlashcards</h4>
                <hr>
                <p>This virtual flashcard system reviews your progress and predicts which words you find most difficult so that you spend your time learning new words and don't waste time reviewing the words that you already know.</p>
                <p>You need to <%= link_to "register", signup_path %> an account in order to use this site.</p>
              </div>
            </div>
        </div>

        <div class="large-4 columns">
          <h4>Help</h4>
          <hr>
          <div class="panel radius callout" style="text-align: center">
            <strong><%= link_to 'Tutorial', tutorial_path %></strong>
          </div>
          <div class="panel radius callout" style="text-align: center">
            <strong><%= link_to 'Frequently Asked Questions', faq_path %></strong>
          </div>
          <div class="panel radius callout" style="text-align: center">
            <strong><%= link_to 'Contact Us', contact_path %></strong>
          </div>
        </div><!-- End Content -->

      <% end %>

    </div>
  </div>
</div><!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr>

    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright myFlashcards 2014.</p>
      </div>

      
    </div>
  </div>
</footer>
