<div class="row">
    <div class="large-12 columns">
		<h3>Deck Manager</h3>
		<%= render 'form' %>
		<table width="100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Card count</th>
					<th>Action</th>
					<th>Tools</th>
				</tr>
			</thead>
			<% for deck in @decks %>
			<tr id="deck_<%= deck.id %>">
				<td><%= deck.id %></td>
				<td><%= deck.name %></td>
				<td><%= deck.flashcards.count %></td>
				<td><%= link_to 'Review Deck', deck_review_index_path(deck), class: "button tiny secondary" %> <%= link_to 'Manage Flashcards', deck_flashcards_path(deck), class: "button tiny secondary" %></td>
				<td>
					<%= link_to 'Edit', edit_deck_path(deck), class: "button success tiny" %> 
					<%= link_to 'Delete', deck, class: "button tiny alert", method: :delete, remote: true %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
</div>