<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">MyFlashcards</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown">
            <a href="#">Right Button with Dropdown</a>
            <ul class="dropdown">
              <li><a href="#">First link in dropdown</a></li>
            </ul>
          </li>
          <li class="has-form">
            <a href="http://foundation.zurb.com/docs" class="button">Logout</a>
          </li>
        </ul>
      </section>
    </nav>

    <% flash.each do |name, message| %>
      <div class="row">
        <div class="large-12 columns">
          <div data-alert class="alert-box">
            <%= message %>
          </div>
        </div>
      </div>
    <% end %>

    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>